@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --radius: 0.5rem
    }
}

main {
    @apply flex-grow;
}

/* Base prose styling */
/* Customize .prose directly */
.prose {
    color: theme('colors.n700');
    --tw-prose-headings: theme('colors.n700');
    --tw-prose-p: theme('colors.n700');
    --tw-prose-a: theme('colors.primary-light');
    --tw-prose-a-hover: theme('colors.primary-hover-light');
    --tw-prose-blockquote: theme('colors.n500');
    --tw-prose-figcaption: theme('colors.n500');
    --tw-prose-strong: theme('colors.n700');
    --tw-prose-code: theme('colors.n700');
    --tw-prose-ol: theme('colors.n700');
    --tw-prose-ul: theme('colors.n700');
    --tw-prose-li-marker: theme('colors.n500');
    --tw-prose-img: theme('colors.n700');
    --tw-prose-hr: theme('colors.n500');
}

/* Dark mode customization */
@media (prefers-color-scheme: dark) {
    .prose {
        color: theme('colors.n200');
        --tw-prose-headings: theme('colors.light-theme');
        --tw-prose-p: theme('colors.light-theme');
        --tw-prose-a: theme('colors.primary-dark');
        --tw-prose-a-hover: theme('colors.primary-hover-dark');
        --tw-prose-blockquote: theme('colors.n500');
        --tw-prose-figcaption: theme('colors.light-theme');
        --tw-prose-strong: theme('colors.light-theme');
        --tw-prose-code: theme('colors.light-theme');
        --tw-prose-ol: theme('colors.light-theme');
        --tw-prose-ul: theme('colors.light-theme');
        --tw-prose-li-marker: theme('colors.n500');
        --tw-prose-img: theme('colors.light-theme');
        --tw-prose-hr: theme('colors.n500');
    }
}

.prose img {
    @apply rounded-2xl;
}

/* Icon Animations */
.cv-btn:hover .animate-slide-right {
    animation: slide-right 0.5s cubic-bezier(1, -.43, .68, .57) infinite alternate both !important;
}

.li-btn:hover .linkedin-anim {
    animation: linkedin 2s infinite both cubic-bezier(1, -.08, 0, 1.12);
}

/* Code Block Styles */
pre {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 1.25rem 0;
    background: transparent;
    overflow-x: auto;
}

code {
    display: block;
    padding: 0 1.5rem;
    width: fit-content;
    min-width: 100%;
    line-height: 1.7;
    font-size: 0.875rem;
    transition: color 0.5s;
}