---
import Layout from "../layouts/Layout.astro";
---

<Layout title={`404 Not Found |`} description="We're sorry, but the page you're looking for cannot be found. Please check the URL or return to the homepage." scrollSmooth={false}>
    <>
        <div class="not-found-wrapper">
            <span aria-hidden="true" role="img" aria-label="Shrug Emoji">¯\_(ツ)_/¯</span>
            <h1>404</h1>
            <p>Page Not Found</p>
            <a href="/" class="my-6 text-lg underline decoration-dashed underline-offset-8" aria-label="back to home">
                Go back home
            </a>
        </div>
    </>
</Layout>

<style>
    .not-found-wrapper h1 {
        @apply text-9xl font-bold text-primary-light;
    }
    .not-found-wrapper {
        @apply mb-14 flex flex-col items-center justify-center;
    }
    .not-found-wrapper p {
        @apply mt-4 text-2xl sm:text-3xl;
    }
   /*

    */
</style>