---

---

<div class="flex justify-center mt-10">
    <button id="back-to-top" class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium [&_svg]:size-4 [&_svg]:shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M13.0001 7.82843V20H11.0001V7.82843L5.63614 13.1924L4.22192 11.7782L12.0001 4L19.7783 11.7782L18.3641 13.1924L13.0001 7.82843Z"></path>
        </svg>
        <span>Back to Top</span>
    </button>
</div>

<script is:inline>
    /** Scrolls the document to the top when
     * the "Back to Top" button is clicked. */
    function backToTop() {
        document.querySelector("#back-to-top")?.addEventListener("click", () => {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        });
    }

    backToTop();
</script>