---
// components imports
import ProfileImage from "./ProfileImage.astro";
import Social from "./Social.astro";

// config import
import {ME} from '@/config';

const { name, profession } = ME;
---

<div class={'w-full flex items-center justify-start mt-5'} >
    <div class="flex items-center gap-6 w-full">
        <div class={"border-[3px] border-primary-light dark:border-primary-dark p-1.5 rounded-full "} style={{ overflow: 'hidden' }}>
            <ProfileImage  />
        </div>
        <div class={'profile-info flex flex-col gap-2 w-full'}>
            <div class="info">
                <h1 class={'text-xl md:text-2xl lg:text-4xl xl:text-4xl text-n900 dark:text-white'}>{ name }</h1>
                <p class={'text-sm text-n500 dark:text-n200'}>{ profession }</p>
            </div>
            <Social />
        </div>
    </div>
</div>