---
// components imports
import { Button} from "./ui/button";
import LinkedIn from "./icons/LinkedIn.astro";
import Github from "../icons/github-fill.svg";
import DownloadArrow from "./icons/DownloadArrow.astro";

// config import
import { ME } from '@/config.ts';

const resume = "/" + ME.contactInfo.resumeDoc;
const {linkedin, email} = ME.contactInfo;
---
<div class="profile-action-buttons w-full flex gap-2">
    <Button
            data-cv={resume}
            id="cvBtn"
            size={'lg'}
            className="[&_svg]:size-8 px-4 md:px-8 h-14 cv-btn flex-1 text-n700 bg-primary-light dark:bg-primary-dark hover:bg-primary-hover-light dark:hover:bg-primary-hover-dark">
        Download CV
        <DownloadArrow width={24} height={24}  />
    </Button>

    <Button size="icon" id="cvBtn" className="[&_svg]:size-8 px-4 md:px-8 h-14 cv-btn flex-1 text-n700 bg-primary-light dark:bg-primary-dark hover:bg-primary-hover-light dark:hover:bg-primary-hover-dark">
        <a href={`https://github.com/s-ren`} aria-label="view my GitHub">
            <Github width={24} height={24} />
        </a>
    </Button>

    <Button size="icon" id="cvBtn" className="[&_svg]:size-6 px-4 md:px-8 h-14 cv-btn flex-1 text-n700 bg-primary-light dark:bg-primary-dark hover:bg-primary-hover-light dark:hover:bg-primary-hover-dark">
        <a href={linkedin} aria-label="my linkedIn profile link">
            <LinkedIn width={24} height={24} />
        </a>
    </Button>

    <Button size="icon" id="cvBtn" className="[&_svg]:size-8 px-4 md:px-8 h-14 cv-btn flex-1 text-n700 bg-primary-light dark:bg-primary-dark hover:bg-primary-hover-light dark:hover:bg-primary-hover-dark">
        <a href={`mailto:${email}` } aria-label="send me an email">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="fill-n700 dark:fill-light-theme" ><path d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM12.0606 11.6829L5.64722 6.2377L4.35278 7.7623L12.0731 14.3171L19.6544 7.75616L18.3456 6.24384L12.0606 11.6829Z"></path></svg>
        </a>
    </Button>

<script>
    const cvBtn = document.getElementById('cvBtn') as HTMLButtonElement;
    const resume = cvBtn.dataset.cv;

    cvBtn.addEventListener('click', () => {
        window.open(resume, '_blank');
    })
</script>